In [1]:
#加载数据
import pandas as pd
import numpy as np
data = pd.read_csv('anomaly_data.csv')
data.head(5)

         x1         x2
0  8.046815   9.741152
1  8.408520   8.763270
2  9.195915  10.853181
3  9.914701  11.174260
4  8.576700   9.042849